* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.container {
  background-color: hsl(0, 0%, 12%);
  border: 10px;
  max-width: 400px;
  border-radius: 10px;
  padding: 24px;
}

body {
  background-color: hsl(0, 0%, 8%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.container img {
  border-radius: 50%;
  display: block;
  width: 80px;
  margin-inline: auto;
  margin-bottom: 1.25rem;
}

.container h1 {
  font-size: 1.5rem;
  text-align: center;
  color: white;
  display: block;
}
.container h1 span {
  display: block;
  color: hsl(75, 94%, 57%);
  font-size: 1rem;
  margin: 0.5rem 0 1rem;
}
.container ul {
  display: grid;
  gap: 1rem;
  margin-top: 2rem;
}

.container ul li button {
  width: 100%;
  padding: 1rem;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  background-color: gray;
}
ul {
  list-style-type: none;
}
.container p {
  color: white;
}
