img {
  border-radius: 50%; /* Makes the image circular */

  width: 100px;
  height: 100px;
}
figure {
  display: flex;
  justify-content: center;
}

h1 {
  /* color: white; */
  text-align: center;
  line-height: 1px;
  font-size: 25px;
}
.first-para {
  line-height: 30px;
  justify-content: center;
  display: flex;
  color: Green hsl(75, 94%, 57%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* color: white; */
}
.c {
  /* color: white; */
  display: flex;
  justify-content: center;
  width: 290px;
  height: 35px;
  border: 2px solid grey;
  border-radius: 5%;
  margin: 10px;
  padding: 5px;

  background-color: Grey 700 hsl(0, 0%, 20%);
}

body {
  background-color: Grey 900 hsl(0, 0%, 8%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main {
  /* background-color: Grey 800 hsl(0, 0%, 12%);   */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
}
