img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  height: 100px;
  gap: 20px;
}

h1 {
  color: white;
  text-align: center;
  line-height: 1.2px;
  font-size: 25px;
}
p {
  text-align: center;
  color: Green hsl(75, 94%, 57%);
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* color: white; */
}
.c {
  color: white;
  display: flex;
  justify-content: center;
  width: 300px;
  height: 40px;
  border: 2px solid grey;
  border-radius: 5%;
  margin: 10px;
  padding: 5px;

  background-color: Grey 700hsl (0, 0%, 20%);
}

body {
  background-color: black;
  /* border: 500px white solid; */
  margin-bottom: 50px;
  /* z-index: -0; */
}
