img {
  border-radius: 50%;
  margin-bottom: 20px;
  width: 100px;
  height: 100px;
}
figure {
  display: flex;
  justify-content: center;
}

h1 {
  /* color: white; */
  text-align: center;
  line-height: 1px;
  font-size: 25px;
}
.first-para {
  line-height: 30px;
  justify-content: center;
  display: flex;
  color: Green;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* color: white; */
}
.c {
  /* color: white; */
  display: flex;
  justify-content: center;
  width: 290px;
  height: 35px;
  border: 2px solid grey;
  border-radius: 5%;
  margin: 10px;
  padding: 5px;

  background-color: rgb(92, 90, 90);
}

body {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main {
  color: white;
  background-color: rgb(11, 10, 10);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
}
